<div>
  <div class="row">
    <div class="col s3 center">
      <img width="150px" class="borders b2" src="https://lh3.googleusercontent.com/-xIMjld9GFZI/AAAAAAAAAAI/AAAAAAAAAAA/AMp5VUpy2xJpFj8EceCOlKYclXgiBRTl7Q/mo/photo.jpg?sz=46">
    </div>
    <div class="col s5">
      <h3 class="row">Anubhav Shrimal</h3>
      <div class="row flow-text">21 years | 240 Karni Vihar, Jaipur</div>
    </div>
    <div class="col s4">
      <div class="row">
        <button class="btn ">Create new record</button>
      </div>
      <div class="row">
        <button class="btn ">View All records</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s8">
      <ul class="collapsible popout" data-collapsible="expandable">
        <li>
          <div class="collapsible-header black white-text active"><i class="material-icons">folder</i>First</div>
          <div class="collapsible-body">
            <button class="btn">Create new prescription</button>
            <ul class="collapsible" data-collapsible="expandable">
              <li>
                <div class="collapsible-header active blue"><i class="material-icons">description</i>First</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
              </li>
              <li>
                <div class="collapsible-header blue"><i class="material-icons">description</i>Second</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
              </li>
              <li>
                <div class="collapsible-header blue"><i class="material-icons">description</i>Third</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
              </li>
            </ul>
          </div>
        </li>

        <li>
          <div class="collapsible-header black white-text"><i class="material-icons">folder</i>Second</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header black white-text"><i class="material-icons">folder</i>Third</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
      </ul>
    </div>

    <div class="col s4">
      <ul class="collapsible" data-collapsible="expandable">
        <li>
          <div class="collapsible-header active black white-text"><i class="material-icons">bubble_chart</i>Allergies</div>
          <div class="collapsible-body">
            <ul class="collection">
              <li class="collection-item">Pollen</li>
              <li class="collection-item">Dust</li>
              <li class="collection-item">Dogs</li>
              <li class="collection-item">Alvin</li>
            </ul>
          </div>
        </li>

        <li>
          <div class="collapsible-header active black white-text"><i class="material-icons">error</i>Diseases</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
      </ul>
    </div>
  </div>
</div>