<div class="row">
  <div class="section"></div>
  <div class="section"></div>

    <h1 class="indigo-text center-align">Register</h1>
    <div class="row center">

      <form class="col s12 ">

        <div class="row">
          <div class="input-field col s3 m3 "></div>
          <div class="input-field col s12 m2">
            <input id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s12 m2">
            <input id="middle_name" type="text" class="validate">
            <label for="middle_name">Middle Name</label>
          </div>
          <div class="input-field col s12 m2">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div>
        </div>


        <div class="row">
          <div class="input-field col s3 m3 "></div>
          <div class="input-field col s12 m6">
            <input id="User_name" type="text" class="validate">
            <label for="User_name">User Name</label>
          </div>
        </div>
        <div class="row">

          <div class="input-field col s3 m3 "></div>
          <div class="input-field col s12 m6">
            <input id="father_name" type="text" class="validate">
            <label for="father_name">Father Name</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s3 m3 "></div>
          <div class="input-field col s12 m3">

            <select materialize="material_select">
              <option value="" disabled selected>Choose your option</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
            <label>Gender</label>

          </div>

          <div class="input-field col s12 m3">

            <select materialize="material_select">
              <option value="" disabled selected>Choose your option</option>
              <option value="true">Married</option>
              <option value="false">UnMarried</option>
            </select>
            <label>Maritial Status</label>

          </div>
          <!--<div class="input-field col s2">-->
          <!--<input id="age" type="text" class="validate">-->
          <!--<label for="age"><span style="color: red">*</span>Age</label>-->
          <!--</div>-->


        </div>


        <div class="row">
          <div class="input-field col s3 m3 "></div>
          <div class="input-field col s12 m6">
            <input id="Password" type="text" class="validate">
            <label for="Password">Password</label>
          </div>
        </div>

        <div class="row">

          <div class="input-field col s3 m3 "></div>
          <div class="input-field col s12 m6">
            <input id="email" type="email" class="validate">
            <label for="email" data-error="wrong" data-success="right">Email</label>
          </div>
        </div>
        <div class="row">

          <div class="input-field col s3 m3 "></div>
          <div class="input-field col s12 m6">
            <input id="insurance_no" type="text" class="validate">
            <label for="insurance_no">Insurance Number(If Any)</label>
          </div>
        </div>
        <div class="row">

          <div class="input-field col s3 m3 "></div>
          <div class="input-field col s12 m3">
            <input id="mobile_no" type="text" class="validate">
            <label for="mobile_no">Mobile No.</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="other_mobile_no" type="text" class="validate">
            <label for="other_mobile_no">Alternate Mobile No.</label>
          </div>
        </div>
        <label style="color: red;">Address Details</label>

        <div class="row">
          <div class="input-field col s0 m3 "></div>
          <div class="input-field col s3 m1">
            <input id="plot_no" type="text" class="validate">
            <label for="plot_no">Plot No.</label>
          </div>
          <div class="input-field col s7 m5">
            <input id="street" type="text" class="validate">
            <label for="street">Street</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col m3 "></div>
          <div class="input-field col s3 m1">
            <input id="district" type="text" class="validate">
            <label for="district">District</label>
          </div>
          <div class="input-field col s7 m5">
            <input id="post_office" type="text" class="validate">
            <label for="post_office">PostOffice</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col m3 "></div>
          <div class="input-field col s10 m6">
            <input id="state" type="text" class="validate">
            <label for="state">State</label>
          </div>
        </div>

        <div class="row">

          <div class="input-field col s3 m3 "></div>
          <div class="input-field col s12 m3">
            <input id="age" type="text" class="validate">
            <label for="age">Age</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="blood_group" type="text" class="validate">
            <label for="blood_group">Blood Group</label>
          </div>
        </div>

        <div class="row">

          <div class="input-field col s3 m3 "></div>
          <div class="input-field col s12 m3">
            <input id="home_number" type="text" class="validate">
            <label for="home_number">Home Contact</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="office_number" type="text" class="validate">
            <label for="blood_group">Office Contact</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s3 m3 "></div>
          <div class="input field col s12 m6">
          <div class="file-field input-field">
            <div class="btn">
              <span>Verification Document</span>
              <input type="file">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
          </div>

        </div>

        <div class="row">
          <div class="input-field col s3 m3 "></div>
          <div class="input field col s12 m6">
            <div class="file-field input-field">
              <div class="btn">
                <span>Upload Profile Picture</span>
                <input type="file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          </div>

        </div>

       <div class="row">
         <div class="input-field col s4 m12">
           <button class="btn waves-effect waves-light" type="submit" name="action">Submit
             <i class="material-icons right">send</i>
           </button>

         </div>
       </div>

      </form>
    </div>
  </div>
